-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."ItemStatus" AS ENUM ('pendiente', 'en_preparacion', 'listo', 'entregado', 'cancelado');

-- CreateTable
CREATE TABLE "public"."patients" (
    "id" TEXT NOT NULL,
    "identificacion" TEXT NOT NULL,
    "nombre" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "patients_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."medications" (
    "id" TEXT NOT NULL,
    "codigoInstitucional" TEXT,
    "nombre" TEXT NOT NULL,
    "presentacion" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "medications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."prep_requests" (
    "id" TEXT NOT NULL,
    "fechaAplicacion" DATE NOT NULL,
    "patientId" TEXT NOT NULL,
    "observaciones" TEXT,
    "createdBy" TEXT,
    "updatedBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "prep_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."prep_request_items" (
    "id" TEXT NOT NULL,
    "prepRequestId" TEXT NOT NULL,
    "medicationId" TEXT NOT NULL,
    "dosisTexto" TEXT NOT NULL,
    "unidadesRequeridas" DECIMAL(12,2) NOT NULL,
    "estado" "public"."ItemStatus" NOT NULL DEFAULT 'pendiente',
    "observaciones" TEXT,
    "entregadoAt" TIMESTAMP(3),
    "canceladoMotivo" TEXT,
    "createdBy" TEXT,
    "updatedBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "prep_request_items_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "patients_identificacion_key" ON "public"."patients"("identificacion");

-- CreateIndex
CREATE UNIQUE INDEX "medications_codigoInstitucional_key" ON "public"."medications"("codigoInstitucional");

-- CreateIndex
CREATE INDEX "medications_nombre_idx" ON "public"."medications"("nombre");

-- CreateIndex
CREATE INDEX "prep_requests_fechaAplicacion_patientId_idx" ON "public"."prep_requests"("fechaAplicacion", "patientId");

-- CreateIndex
CREATE UNIQUE INDEX "prep_requests_fechaAplicacion_patientId_key" ON "public"."prep_requests"("fechaAplicacion", "patientId");

-- CreateIndex
CREATE INDEX "prep_request_items_estado_updatedAt_idx" ON "public"."prep_request_items"("estado", "updatedAt");

-- CreateIndex
CREATE INDEX "prep_request_items_prepRequestId_idx" ON "public"."prep_request_items"("prepRequestId");

-- CreateIndex
CREATE INDEX "prep_request_items_medicationId_idx" ON "public"."prep_request_items"("medicationId");

-- AddForeignKey
ALTER TABLE "public"."prep_requests" ADD CONSTRAINT "prep_requests_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES "public"."patients"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."prep_request_items" ADD CONSTRAINT "prep_request_items_prepRequestId_fkey" FOREIGN KEY ("prepRequestId") REFERENCES "public"."prep_requests"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."prep_request_items" ADD CONSTRAINT "prep_request_items_medicationId_fkey" FOREIGN KEY ("medicationId") REFERENCES "public"."medications"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

